.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.maas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:50%;
  padding-right:60%;

}
.vergi{
  display: flex;
  align-items: center;
  justify-content: center;

}
.maas button {
  color:white;
  margin-top:20px;
  margin-right:2px;
  height: 40px;
  padding: 0 15px;
  flex: 1;
  cursor: pointer;
  background: #20b820;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
}
.vergi button {

  color:white;
  margin-top:20px;
  margin-right:2px;
  height: 40px;
  padding: 0 15px;
  flex: 1;
  cursor: pointer;
  background: red;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
